/* Fonts */
@font-face {
  font-family: Main;
  src: url("./fonts/BebasNeue.woff");
}
/* No Select */
.noselect,
img,
* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */ /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
   supported by Chrome, Edge, Opera and Firefox */
}

input,
textarea,
button,
select,
a,
svg,
div {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*::-moz-selection {
  background-color: transparent;
  color: #fdfdfd;
  text-shadow: none;
}

*::selection {
  background-color: transparent;
  color: #fdfdfd;
  text-shadow: none;
}

/* Loading Page */
.loadingPage {
  position: fixed;
  background-color: #5f22d9;
  width: 100vw;
  height: 100vh;
  z-index: 9999999999;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoImage {
  position: absolute;
  display: none;
}

/* Defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  /* cursor: none; */
}

body {
  background-color: #f0f0f0;
  z-index: 100;
  font-size: 10px;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  font-family: Main;
  color: #000000;
}

.webgl {
  position: fixed;
  outline: none;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  /* z-index: 100000000; */
}

/* Responsive */
@media screen and (max-width: 1150px) {
  /* Responsive Common */
}
@media screen and (max-width: 1150px) and (orientation: Portrait) {
  /* Portrait */
  .UISection {
    justify-content: center !important;
  }
  main.configuratorUI {
    width: 100vw !important;
  }
  .colorChoice {
    width: 4vw !important;
    height: 4vw !important;
  }
  .configuratorRowHeader {
    font-size: 7vw !important;
  }
  .configuratorMenuRow {
    font-size: 7vw !important;
  }
  .colorChoice {
    width: 4vw !important;
    height: 4vw !important;
  }
  .menuSection {
    padding: 5vw !important;
    justify-content: center !important;
  }
  .menuButton {
    width: 10vw !important;
    height: 10vw !important;
  }
}
@media screen and (max-width: 1150px) and (orientation: landscape) {
  /* Landscape */
}
.backSection {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  pointer-events: none;
  color: #5f22d9;
  overflow: hidden;
  padding: 2vw;
}

.backgroundDiv {
  width: 100vw;
  height: 100vh;
  position: absolute;
  filter: brightness(1.1);
}

.backgroundRow {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25vw;
  z-index: 10;
}

.frontSection {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.menuSection {
  position: absolute;
  width: 100vw;
  height: 100vh;
  padding: 2vw;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  z-index: 2000;
  pointer-events: none;
}

.menuButton {
  width: 4vw;
  height: 4vw;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
}

.menuImage {
  position: absolute;
}

.visibiltyToggleDiv {
  cursor: pointer;
  pointer-events: auto;
}

.visibilityToggleImage {
  transform: scale(0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.UISection {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2vw;
}

.configuratorMenuRow {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
  font-weight: bold;
}

main.configuratorUI {
  width: 30vw;
  border-radius: 1.5vw;
  padding: 2vw;
  color: main;
  pointer-events: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 1vw;
  pointer-events: none;
}

.configuratorRow {
  width: 100%;
}

.configuratorRowHeader {
  font-weight: bold;
  font-size: 2vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5vw;
}

.colorPicker {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.colorChoice {
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6274509804);
  cursor: pointer;
  pointer-events: auto;
}

.choice1 {
  background-color: #5f22d9;
}

.choice2 {
  background-color: #ffc1cc;
}

.choice3 {
  background-color: #87ceeb;
}

.choice4 {
  background-color: #bab86c;
}

.choice5 {
  background-color: #fa5f55;
}

.choice6 {
  background-color: #f0f0f0;
}

.choice7 {
  background-color: #303030;
}/*# sourceMappingURL=index.css.map */