// Variables

$mainOrange: #eb5f28;
$mainWhite: #fdfdfd;
$mainGrey: #878787;
$mainPurple: #5f22d9;

$logoFontSize: 2.5em;
$navFontSize: 1.5em;
$bodyFontSize: 2.5rem;

/* Fonts */

@font-face {
  font-family: Main;
  src: url("./fonts/Helvetica.otf");
}

@font-face {
  font-family: DMSans;
  src: url("./fonts/DMSans-Regular.ttf");
}

/* No Select */

.noselect,
img,
* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                        supported by Chrome, Edge, Opera and Firefox */
}

input,
textarea,
button,
select,
a,
svg,
div {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*::selection {
  background-color: $mainOrange;
  color: $mainWhite;
  text-shadow: none;
}

/* width */
::-webkit-scrollbar {
  // width: 1rem;
  width: 0;
  user-select: auto;
}

/* Track */
::-webkit-scrollbar-track {
  background: $mainWhite;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to top, $mainOrange, #eb9472);
}

/* Loading Page */
.loadingPage {
  position: fixed;
  background-color: $mainWhite;
  width: 100vw;
  height: 100vh;
  z-index: 9999999999;
  pointer-events: none;
}

/* Defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: $mainPurple;
  font-size: 10px;
  color: $mainGrey;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  /* cursor: none; */
}

body {
  background-color: $mainPurple;
  box-sizing: border-box;
  z-index: 100;
  font-size: 10px;
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
  font-family: DMSans;
  background-color: #eb9472;
}

.canvasOverlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* z-index: 100000000; */
  z-index: 0;
  pointer-events: none;
}

.webgl {
  position: fixed;
  outline: none;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  /* z-index: 100000000; */
  pointer-events: none;
}

main {
  background-color: $mainWhite;
  position: relative;
  z-index: 1;
  box-shadow: 0 0 5rem 1rem #0000002a;
  border-radius: 0 0 5rem 5rem;
}

/* Responsive */

/* Max-Width 1080px */

@media screen and (max-width: 1800px) {
  html {
    font-size: 8px;
  }

  @media (orientation: Portrait) {
    /* Portrait */
  }

  @media (orientation: landscape) {
    /* Landscape */
  }

  /* Responsive Common */
}

@media screen and (max-width: 1550px) {
  html {
    font-size: 7px;
  }

  @media (orientation: Portrait) {
    /* Portrait */
  }

  @media (orientation: landscape) {
    /* Landscape */
  }

  /* Responsive Common */
}

@media screen and (max-width: 1350px) {
  html {
    font-size: 6px;
  }

  @media (orientation: Portrait) {
    /* Portrait */
  }

  @media (orientation: landscape) {
    /* Landscape */
  }

  /* Responsive Common */
}

@media screen and (max-width: 1150px) {
  html {
    font-size: 5px;
  }

  @media (orientation: Portrait) {
    /* Portrait */
  }

  @media (orientation: landscape) {
    /* Landscape */
  }

  /* Responsive Common */
}

@media screen and (max-width: 950px) {
  html {
    font-size: 4px;
  }

  @media (orientation: Portrait) {
    /* Portrait */
  }

  @media (orientation: landscape) {
    /* Landscape */
  }

  /* Responsive Common */
}

@media screen and (max-width: 900px) {
  @media (orientation: Portrait) {
    /* Portrait */
  }

  @media (orientation: landscape) {
    /* Landscape */
  }

  /* Responsive Common */
}

@media screen and (max-width: 700px) {
  @media (orientation: Portrait) {
    /* Portrait */
  }

  @media (orientation: landscape) {
    /* Landscape */
  }

  /* Responsive Common */
}
