// Variables
$mainWhite: #fdfdfd;
$mainBlack: #000000;
$mainPurple: #5f22d9;

$logoFontSize: 2.5em;
$navFontSize: 1.5em;
$bodyFontSize: 2.5rem;

/* Fonts */
@font-face {
  font-family: Main;
  src: url("./fonts/BebasNeue.woff");
}

/* No Select */

.noselect,
img,
* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                        supported by Chrome, Edge, Opera and Firefox */
}

input,
textarea,
button,
select,
a,
svg,
div {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*::selection {
  background-color: transparent;
  color: $mainWhite;
  text-shadow: none;
}

/* Loading Page */
.loadingPage {
  position: fixed;
  background-color: $mainPurple;
  width: 100vw;
  height: 100vh;
  z-index: 9999999999;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoImage {
  position: absolute;
  display: none;
}

/* Defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  /* cursor: none; */
}

body {
  background-color: $mainPurple;
  z-index: 100;
  font-size: 10px;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  font-family: Main;
  color: $mainBlack;
}

.webgl {
  position: fixed;
  outline: none;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  /* z-index: 100000000; */
}

/* Responsive */

/* Max-Width 1080px */

@media screen and (max-width: 1800px) {
  html {
    font-size: 8px;
  }

  @media (orientation: Portrait) {
    /* Portrait */
  }

  @media (orientation: landscape) {
    /* Landscape */
  }

  /* Responsive Common */
}

@media screen and (max-width: 1550px) {
  html {
    font-size: 7px;
  }

  @media (orientation: Portrait) {
    /* Portrait */
  }

  @media (orientation: landscape) {
    /* Landscape */
  }

  /* Responsive Common */
}

@media screen and (max-width: 1350px) {
  html {
    font-size: 6px;
  }

  @media (orientation: Portrait) {
    /* Portrait */
  }

  @media (orientation: landscape) {
    /* Landscape */
  }

  /* Responsive Common */
}

@media screen and (max-width: 1150px) {
  html {
    font-size: 5px;
  }

  @media (orientation: Portrait) {
    /* Portrait */
  }

  @media (orientation: landscape) {
    /* Landscape */
  }

  /* Responsive Common */
}

@media screen and (max-width: 950px) {
  html {
    font-size: 4px;
  }

  @media (orientation: Portrait) {
    /* Portrait */
  }

  @media (orientation: landscape) {
    /* Landscape */
  }

  /* Responsive Common */
}

@media screen and (max-width: 900px) {
  @media (orientation: Portrait) {
    /* Portrait */
  }

  @media (orientation: landscape) {
    /* Landscape */
  }

  /* Responsive Common */
}

@media screen and (max-width: 700px) {
  @media (orientation: Portrait) {
    /* Portrait */
  }

  @media (orientation: landscape) {
    /* Landscape */
  }

  /* Responsive Common */
}

// Back Section
.backSection {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  pointer-events: none;
  padding: 2vw;
  color: #ffffff;
}

.backgroundRow {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 50vh;
}

// Front Section
.frontSection {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.UISection {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 3vw;
}

main.configuratorUI {
  width: 30vw;
  background-color: $mainWhite;
  border-radius: 1vw;
  padding: 2vw;
  color: main;
  pointer-events: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 1vw;
  box-shadow: -5px 5px 10px 1px #000000a0;
}

.configuratorRow {
  width: 100%;
}

.configuratorRowHeader {
  font-weight: bold;
  font-size: 2vw;
}

.colorPicker {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.colorChoice {
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  box-shadow: inset 0 0 5px #000000a0;
  cursor: pointer;
  border: 2px solid #000000;
}

// Choices
.choice1 {
  background-color: #5f22d9;
}

.choice2 {
  background-color: #ffc1cc;
}

.choice3 {
  background-color: #87ceeb;
}

.choice4 {
  background-color: #bab86c;
}

.choice5 {
  background-color: #fa5f55;
}

.choice6 {
  background-color: #f0f0f0;
}

.choice7 {
  background-color: #303030;
}
